
body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 11, 46);
    background-image: url(../images/stars.png);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 7, 7);
    margin: 0;
    padding: 5px 15px;
}

header a {
    font-size: 1.2rem;
    color: yellow;
    text-decoration: none;
    line-height: 3rem;
}

#timer {
    width: 130px;
    height: 15px;
    max-width: 80%;
    background-color: rgb(142, 192, 248);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(176, 189, 6);
    color: rgb(2, 25, 88);
    font-weight: bold;
}

main {
    padding: 0;
    margin: 20px;
    display: flex;
    width: 100vw;
    min-height: 80vh;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 500px;
    max-width: 80%;
    min-height: 200px;
    background-color: rgb(142, 192, 248);
    border-radius: 5px;
    margin: 10vh;
    padding: 0px 20px;
    box-shadow: 0 0 10px 2px rgb(176, 189, 6);
    font-size: 1.1rem;
}

.container h2 {
    margin: 10px 0 0 0;
    padding: 0;
}

#start {
    width: 180px;
    max-width: 80%;
    min-height: 80px;
    background-color: yellow;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(156, 156, 1);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.hide {
    display: none;
}

